<div class="container">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide(); supplierForm.reset() ">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
       
      <form class="form" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">            
 
        <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Name" >
            </div>
            <div
            *ngIf="
              supplierForm.controls['name']?.invalid &&
              (supplierForm.controls['name']?.dirty ||
                supplierForm.controls['name']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="supplierForm.controls['name'].errors?.['required']">
                name is required.
            </div>
            <div *ngIf="supplierForm.controls['name'].errors?.['minlength']">
              minimum char length must be 3.
            </div>
            <div *ngIf="supplierForm.controls['name'].errors?.['maxlength']">
              maximum char length should be less than 50
            </div>
          </div>
          <div class="mb-3">
            <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="mobile" placeholder="Mobile No.">
        </div>
        <div
        *ngIf="
          supplierForm.controls['mobile']?.invalid &&
          (supplierForm.controls['mobile']?.dirty || supplierForm.controls['mobile']?.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="supplierForm.controls['mobile'].errors?.['required'] ">
          mobile is required.
        </div>
        <div *ngIf="supplierForm.controls['mobile'].errors?.['minlength'] || supplierForm.controls['mobile'].errors?.['maxlength'] || supplierForm.controls['mobile'].errors?.['pattern']">
          Phone number must be 10 Digits and not character.
        </div>

        
      </div>

        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="email">
        </div>
        <div
        *ngIf="
          supplierForm.controls['email']?.invalid &&
          (supplierForm.controls['email']?.dirty || supplierForm.controls['email']?.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="supplierForm.controls['email'].errors?.['required']">
          email is required.
        </div>
        <div *ngIf="supplierForm.controls['email'].errors?.['pattern']">
          Please enter a valid email id.
      </div>
      </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="payable" placeholder="Payable">
            </div>
            <div
            *ngIf="
              supplierForm.controls['payable']?.invalid &&
              (supplierForm.controls['payable']?.dirty || supplierForm.controls['payable']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="supplierForm.controls['payable'].errors?.['required'] ">
              payable is required.
            </div>
            <div *ngIf="supplierForm.controls['payable'].errors?.['pattern']">
              Only digits are allowed
            </div>
          </div>
          
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="receivable" placeholder="Receivable Amount">
      </div>
      <div
      *ngIf="
        supplierForm.controls['receivable']?.invalid &&
        (supplierForm.controls['receivable']?.dirty || supplierForm.controls['receivable']?.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="supplierForm.controls['receivable'].errors?.['required']">
        receivable is required.
      </div>
      <div *ngIf="supplierForm.controls['receivable'].errors?.['pattern']">
        Only digits are allowed
      </div>
    </div> 
     
      

            <div class="mb-3 button">
                <button  *ngIf="isAdded" type="submit" class="btn btn-primary margin-right" > Add</button>
                <button  *ngIf="isEditted" type="submit" class="btn btn-primary margin-right" [disabled]="supplierForm['invalid']"> Update</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset </button>    
            </div>
        </form>
    </div>    
</div>


