<div class="container">
    <h4>All Purchase</h4>
    <div class="salesList">
        <p>Purchase List</p>
        <div class="button">
            <button class="btn btn-primary" (click)="openDialogForm()">
                <b>+</b>Add New Purchase
              </button>
              <button class="btn btn-primary">
                CSV
              </button>
              <button class="btn btn-primary">
               PDF
              </button>
        </div>
    </div>
    <div class="header">
        <!-- (click)="openFormSignupModal(modal)" -->
      <div class="left-side">
            <label>Show</label>
            <select (change)="changeItemsPerPage($event.target)">
              <option [value]="item" *ngFor="let item of limits; let i = index">
                {{ item }}
              </option>
            </select>
            <label>entries</label>
      </div>
      
      <div class="search d-flex">
        <label for="">search</label>
        <input
          class="form-control me-2"
          type="search"
          [(ngModel)]="searchText"
          (input)="search(searchText)"
          aria-label="Search"
        />
        
        
      </div>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr class="sort">
          <th>
            <span (click)="sortClick('invoice')">Invoice No|Date</span>
            <span
              class="sortorder descending"
              [hidden]="sortType === 'invoice' && reverse === true"
            ></span>
            <span
              class="sortorder"
              [hidden]="sortType === 'invoice' && reverse === false"
            ></span>
          </th>
          <th>
            <span (click)="sortClick('supplier')">Supplier|Mobile</span>
            <span
              class="sortorder descending"
              [hidden]="sortType === 'supplier' && reverse == true"
            ></span>
            <span
              class="sortorder"
              [hidden]="sortType === 'supplier' && reverse === false"
            ></span>
          </th>
          <th>
            <span (click)="sortClick('warehouse')">Total Amount|Warehouse</span>
            <span
              class="sortorder descending"
              [hidden]="sortType === 'warehouse' && reverse == true"
            ></span>
            <span
              class="sortorder"
              [hidden]="sortType === 'warehouse' && reverse === false"
            ></span>
          </th>
          <th>
            <span (click)="sortClick('discount')">Discount|Payable</span>
            <span
              class="sortorder descending"
              [hidden]="sortType === 'discount' && reverse == true"
            ></span>
            <span
              class="sortorder"
              [hidden]="sortType === 'discount' && reverse === false"
            ></span>
          </th>
          <th>
            <span (click)="sortClick('paid')">Paid|Due</span>
            <span
              class="sortorder descending"
              [hidden]="sortType === 'paid' && reverse == true"
            ></span>
            <span
              class="sortorder"
              [hidden]="sortType === 'paid' && reverse === false"
            ></span>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <div *ngIf="search_Data_Available; then printData; else empty"></div>
      <ng-template #printData>
        <tbody>
          <tr *ngFor="let item of purchaseListItem">
            <td><p>{{ item.invoice }}</p>
                <p>{{ item.date }}</p>
            </td>
            <td>
                <p>{{ item.supplier }}</p>
                <p>{{ item.mobile }}</p>
            </td>
            <td>
              <p>{{ item.totalAmount }}</p>
                <p>{{ item.warehouse }}</p>           
            </td>
            <td>
                <p>{{ item.discount }}</p>
                <p>{{ item.payable }}</p>
            </td>
            <td>
                <p>{{ item.paid }}</p>
                <p>{{ item.due }}</p>
            </td>
            <td>
              <div class="worksheet">
                <button
                  type="button"
                  class="btn btn-primary margin-right"
                  (click)="openDialogFormUpdate( item.id)"
                >
                <i></i>
                  Edit
                </button>
                <!-- 
                (click)="openDeleteModal(deleteModal, user.id)" -->
                <button
                  type="button"
                  class="btn btn-danger"
                 
                >
                <i></i>
                  More
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </ng-template>
      <ng-template #empty>
        <h2>data not found.......</h2>
      </ng-template>
    </table>
  
  
      
      <div class="pagination">
        <pagination
          [boundaryLinks]="showBoundaryLinks"
          [totalItems]="count"
          [itemsPerPage]="limit"
          [rotate]="rotate"
          [maxSize]="maxSize"
          [(ngModel)]="currentPage"
          name="currentPage"
          (pageChanged)="changePage($event)"
        ></pagination>
      </div>
  </div>

