<!-- FORM -->
  <div class="container" *ngIf="formModal">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide() ; productManage_Form.reset()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
       
      <form class="form" [formGroup]="productManage_Form" (ngSubmit)="onSubmit()">          
          
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Name">
            </div>
            <div
            *ngIf="
              productManage_Form.controls['name']?.invalid &&
              (productManage_Form.controls['name']?.dirty ||
                productManage_Form.controls['name']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="productManage_Form.controls['name'].errors?.['required']">
                name is required.
            </div>
            <div *ngIf="productManage_Form.controls['name'].errors?.['minlength']">
              minimum char length must be 3.
            </div>
            <div *ngIf="productManage_Form.controls['name'].errors?.['maxlength']">
              maximum char length should be less than 50
            </div>
          </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="products" placeholder="products.">
            </div>
            <div
            *ngIf="
              productManage_Form.controls['products']?.invalid &&
              (productManage_Form.controls['products']?.dirty ||
                productManage_Form.controls['products']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="productManage_Form.controls['products'].errors?.['required']">
                products is required.
            </div>
            <div *ngIf=" productManage_Form.controls['products'].errors?.['pattern']">
              Only number is valid not character.
            </div>
          </div>

            <div class="mb-3 button">
                <button  *ngIf="isAdded" type="submit" class="btn btn-primary margin-right" > Add</button>
                <button  *ngIf="isEditted" type="submit" class="btn btn-primary margin-right" [disabled]="productManage_Form['invalid']"> Update</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset </button>    
            </div>
        </form>
    </div>    
</div>

 <!-- delete-Modal -->
  <div class="delete-popup" *ngIf="deleteModal">
    <div>
      <i>delete</i>
      <p>{{title}}</p>
      <button  type="button"  class="btn btn-info margin-right"(click)="bsModalRef.hide()">
        <span>CANCEL</span>
      </button>
      <button  class="btn btn-danger margin-right" (click)="deleteManageProduct()">DELETE</button>
    </div>
  </div>

  <!-- Excel table Modal -->
  <div *ngIf="isExcel">
    <div  class="modal-header"> 
      <h2 class="modal-title pull-left">{{title}}</h2>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body"> 
      <div class="col-md-8 form-group">        
        <input type="file" class="btn btn-primary" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
      </div> 
      <table class="table table-bordered" id="sampleTable">
        <thead>
          <tr class="sort">
            <th *ngFor="let data of header">{{ data }} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of fileList">
            <td *ngFor="let cell of header">{{ row[cell] }}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>


 