<div class="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-container" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
      </div>
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <small *ngIf="email.errors?.['required']">
          email must be required
        </small>
        <small *ngIf="email.errors?.['email']">
          not a valid email
        </small>
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="enter new password" formControlName="newPassword">
      </div>
    
      <div class="alert alert-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <small *ngIf="newPassword.errors?.['required']">
          Password must be required
        </small>
        <small *ngIf="newPassword.errors?.['minlength']">
          Password is greater then 5
        </small>
      </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Forget Password</button>

      </div>
    </form>

  </div>
</div>