<div class="container">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
       
        <form class="form" [formGroup]="productManage_Form" (ngSubmit)="onSubmit()">            
            <div class="mb-3">
                <input type="file" class="form-control" id="exampleFormControlInput1" formControlName="image" placeholder="image" >
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Name">
            </div>
            
            <!-- <div
            *ngIf="
              productManage_Form.controls['invoice']?.invalid &&
              (productManage_Form.controls['invoice']?.dirty ||
                productManage_Form.controls['invoice']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="productManage_Form.controls['invoice'].errors?.['required']">
                invoice is required.
            </div>
            <div *ngIf="productManage_Form.controls['invoice'].errors?.['minlength']">
              minimum char length must be 3.
            </div>
            <div *ngIf="productManage_Form.controls['invoice'].errors?.['maxlength']">
              maximum char length should be less than 50
            </div>
          </div> -->
          <div class="mb-3">
            <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="SKU" placeholder="SKU.">
        </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="category" placeholder="category">
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="brand" placeholder="brand.">
            </div>

            <div class="mb-3">
            <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="stock" placeholder="stock.">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="total_sale" placeholder="total_sale">
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="altert_qnty" placeholder="altert_qnty.">
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="unit" placeholder="unit.">
            </div>
            <div class="mb-3 button">
                <button  *ngIf="isAdded" type="submit" class="btn btn-primary margin-right" (click)="bsModalRef.hide()" > Add</button>
                <button  *ngIf="isEditted" type="submit" class="btn btn-primary margin-right" (click)="bsModalRef.hide()" [disabled]="productManage_Form['invalid']"> Update</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset </button>    
                  <!-- (click)="bsModalRef.hide()" [disabled]="productManage_Form['invalid']" -->
            </div>
        </form>
    </div>    
</div>

