<div class="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-container" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="email" formControlName="email" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Enter old Password" autocomplete="off"
          formControlName="oldPassword">
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="enter new password" autocomplete="off"
          formControlName="password">
      </div>
      <div class="alert alert-danger"
        *ngIf="resetPassword.password.invalid && ( resetPassword.password.dirty || resetPassword.password.touched)">
        <span>must be required</span>
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" placeholder="enter new password" autocomplete="off"
          formControlName="confirm_Password">
      </div>
      <!-- <div
        *ngIf="resetPassword.confirm_Password.invalid && ( resetPassword.confirm_Password.dirty || resetPassword.confirm_Password.touched)">
        <div *ngIf="resetPassword.confirm_Password.errors?.['passwordMismatch']">
          new_password and conform_password must be matched
        </div>
      </div> -->

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Forget Password</button>
      </div>
    </form>
  </div>

</div>