<div class="container">
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">  
       
      <form class="form" [formGroup]="salesAllForm" (ngSubmit)="onSubmit()">            
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Name" >
            </div>
            <div
            *ngIf="
              salesAllForm.controls['name']?.invalid &&
              (salesAllForm.controls['name']?.dirty ||
                salesAllForm.controls['name']?.touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="usersControls['name'].errors?.['required']">
                name is required.
            </div>
            <div *ngIf="usersControls['name'].errors?.['minlength']">
              minimum char length must be 3.
            </div>
            <div *ngIf="usersControls['name'].errors?.['maxlength']">
              maximum char length should be less than 50
            </div>
          </div>
            <div class="mb-3">
              <textarea
              class="form-control"
              rows="3"
              placeholder="Address"
              formControlName="address"
            ></textarea>
            <div
              *ngIf="
                usersControls['address']?.invalid &&
                (usersControls['address']?.dirty || usersControls['address']?.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="usersControls['address'].errors?.['required']">
                Address is required.
              </div>
            </div>
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="exampleFormControlInput1" formControlName="mobile" placeholder="Mobile No.">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="email">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="receivable" placeholder="Receivable Amount">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="payable" placeholder="Payable">
            </div>
            <div class="mb-3 button">
                <button  *ngIf="isAdded" type="submit" class="btn btn-primary margin-right" (click)="bsModalRef.hide()" > Add</button>
                <button  *ngIf="isEditted" type="submit" class="btn btn-primary margin-right" (click)="bsModalRef.hide()" [disabled]="salesAllForm['invalid']"> Update</button>
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset </button>    
                  <!-- (click)="bsModalRef.hide()" [disabled]="salesAllForm['invalid']" -->
            </div>
        </form>
    </div>    
</div>

