.contents {
    width: 100%;
    h5{
        color:black;
        padding-bottom: 10px;
    }
    .card-1{
        width: 100%;
      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: .2rem;
        
        .card{
            width:33%;       
            .card-body{
                margin: -10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .cart{   
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .icon{
                    i{
                        border-radius: 5px;
                        padding: 10px;                  
                        font-size:20px;
                        color:white    
                    };
                }
                
                .content{
                    margin-left: 0.3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    span{
                        font-size:.8rem
                    }
                    
                
                };
                .btnAll{                  
                    button{
                       font-size:10px;
                    };
                }
            }
            
           
        }
    };
 
    .card-2{   
        p{
        color: black;
        font-size: 18px;
        }
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
       
        .graph{   
            width: 60%;
          
            height: auto;         
            .canvas{
               width: 600px;
                padding: 10px 10px 46px 10px;
                background-color: #fff;
            }
        };
        .tableData{
            width: 40%;
            margin-left: 10px;
            .table{
                margin-top: -16px;
            }
        }
    };
    .card-3{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        .table-item{
            width: 50%;
            .heading{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .table-1{
                width: 100%;
            };
        }
    }   
  };

  @media(max-width:1300px){
    .card-2{   
        gap: 1rem;
    };
  };
  @media(max-width:1250px){
    .card-2{   
        gap: 4rem;
    };
  };

  @media(max-width:1150px){
    .card-2{   
        gap: 6rem;
    };
  }


  @media(max-width:1100px){
    .contents {
        width: 100%;
        .card-1{
            width: 100%;         
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: .2rem;
            
            .card{
                width:33%;       
                .card-body{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .cart{   
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    .icon{
                        i{
                            border-radius: 5px;
                            padding: 7px;                  
                            font-size:15px;
                            color:white    
                        };
                    }
                    
                    .content{
                        margin-left: 0.3rem;
                        span{
                            font-size:.7rem
                        }
                        
                    
                    };
                    .btnAll{                  
                        button{
                           font-size:10px;
                        };
                    }
                }
                
               
            }
        };
     
        .card-2{   
            p{
            color: black;
            font-size: 18px;
            }
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
           
            .graph{   
                width:95%;           
                height: auto;         
            };
            .tableData{
                width: 95%;
                margin-left: 10px;
                .table{
                    margin-top: -16px;
                }
            }
        };
        .card-3{
            margin-top: 4rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 20px;
            .table-item{
                width: 50%;
                .heading{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .table-1{
                    width: 100%;
                };
            }
        }   
      };
  };
  
  @media(max-width:800px){
    .contents {
        width: 100%;
        .card-1{
            width: 100%;         
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: .2rem;
            
            .card{
                width:33%;       
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                
               
            }
        };
     
        .card-3{
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .table-item{
                width:95%;
                .heading{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .table-1{
                    width: 100%;
                };
            }
        }   
      };
  };


  @media(max-width:750px){
    .contents {
        width: 100%;
        .card-1{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: .2rem;
            
            .card{
                width:90%;  
                .card-body{
                   
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .cart{   
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    .icon{
                        i{
                            border-radius: 5px;
                            padding: 10px;                  
                            font-size:30px;
                            color:white    
                        };
                    }
                    
                    .content{
                        margin-left: .5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        span{
                            font-size:1rem
                        }
                        
                    
                    };
                    .btnAll{                  
                        button{
                           font-size:20px;
                        };
                    }
                }
                
               
            }
        };
    
      };
  }