<div class="section"></div>
<section class="contents">
    <h5>Inventory Management</h5>
   <div class="cards">
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>sales</span>
            <span>10</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>sales return</span>
            <span>10</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>Purchases</span>
            <span>10</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>Purchases Return</span>
            <span>10</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
   </div>

   <div class="card-1">
    <div class="graph">
        <p class="card-title border-bottom">Monthly Purchase & Sales Report(last 12 Months)</p>
       <div class="canvas">
        <canvas id="canvas">{{chart}}</canvas>   
       </div>   
      </div>
  
        <div class="tableData">
            <p>Top Selling Products</p>   
            <table class="table">
                <thead>
                  <tr class="table-secondary">
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of product">
                    <td>{{item.product}}</td>
                    <td>{{item.sku}}</td>
                    <td>{{item.quantity}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
   </div>

   <div class="card-2">
    <div class="table-item">
        <div class="heading">
            <p>Product Alert Items</p>
            <button>view All</button>
        </div>
                <table class="table table-1">
                    <thead>
                      <tr class="table-secondary">
                        <th>Product</th>
                        <th>WareHouse</th>
                        <th>alert</th>
                        <th>Stock</th>
                        <th>Unit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of product">
                        <td>{{item.product}}</td>
                        <td>{{item.warehouse}}</td>
                        <td><button type="button" class="btn btn-warning">{{item.alert}}</button></td>
                        <td><button type="button" class="btn btn-danger">{{item.stock}}</button></td>
                        <td>{{item.unit}}</td>
                      </tr>
                    </tbody>
                  </table>
       </div>
    
       <div class="table-item">
        <div class="heading">
            <p>Top Selling Products</p>
            <button>view All</button>
        </div>
                <table class="table table-1">
                    <thead>
                      <tr class="table-secondary">
                        <th>Product</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of product">
                        <td>{{item.product}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.quantity}}</td>
                      </tr>
                    </tbody>
                  </table>
       </div>
   </div>

   <div class="cards">
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>10</span>
            <span>Categories</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>8</span>
            <span>Product</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>8</span>
            <span>Suppliers</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
    <div class="card">
        <i>cart</i>
       
        <div class="content">
            <span>9</span>
            <span>Customers</span>
        </div>
        <div class="btnAll">
            <button>view All</button>
        </div>       
    </div>
   </div>
</section>

<router-outlet></router-outlet>  
